.primary-button {
  background-color: rgba(228, 115, 71, 1);
  color: white;
  padding: 10px 20px;
  border-color: rgba(228, 115, 71, 1);
  cursor: pointer;
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
}

.primary-button:hover {
  background-color: white;
  color: rgba(228, 115, 71, 1);
  border-color: rgba(228, 115, 71, 1);
}

.secondary-button {
  background-color: white;
  border-color: rgba(228, 115, 71, 1);
  border: 1px solid;
  color: rgba(228, 115, 71, 1);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.secondary-button:hover {
  background-color: rgba(228, 115, 71, 1);
  color: white;
  border-color: rgba(228, 115, 71, 1);
}
