.TypeAhead {
  width: 200px;
  border: 1px solid rgba(172, 171, 169, 1);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
}

.TypeAhead input {
  width: 100%;
  background-color: white;
  border: 1px rgba(172, 171, 169, 1);
  border-radius: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  padding: 10px 5px;
  box-sizing: border-box;
  outline: none;
}
.TypeAhead ul::before {
  content: "";
}

.TypeAhead ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border-top: 1px solid gray;
}

.TypeAhead li {
  padding: 10px 5px;
  cursor: pointer;
}

.TypeAhead li:hover {
  background: rgba(172, 171, 169, 0.2);
  border-radius: 10px;
  color: rgba(228, 115, 71, 1);
}

.tag-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  overflow: visible;
}
