@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

/* <uniquifier>: Use a unique and descriptive class name
weight>: Use a value from 300 to 800 */

.open-sans-OpenSans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
