@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";

#root {
  margin: 0 auto;
  text-align: center;
}

/* <uniquifier>: Use a unique and descriptive class name
weight>: Use a value from 300 to 800 */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #d5dee4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  border-radius: 8px;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
