.fieldTag {
    display: inline-block;
    background-color: #f19e7d;
    color: #000000;
    font-weight: bold;
    padding: 2px 15px;         
    border-radius: 20px;       
    font-size: 12px;
    margin: 5px;
    text-align: center;
    user-select: none; 
    line-height: 0;
}

.skillTag {
    display: inline-block;
    background-color: #d5dee4;
    color: #000000; 
    font-weight: bold;
    padding: 2px 15px;         
    border-radius: 20px;       
    font-size: 12px;  
    margin: 5px;
    text-align: center;
    user-select: none;
    line-height: 0;
}